clusters

*.pyc
*.pyo
*.so
*~
dist/
clara/pylpsolve.c
MANIFEST
__pycache__/
.env
.vscode/*
clara.egg-info/SOURCES.txt
batch_tests/
results/
tests/
*.txt
*.xls
extract_corr_data.py
NSFwebscraper/*
dataset/DEFAULT
dataset/dataset_dict.json
dataset/parsed_results.zip
.cache/*
problems/Output
problems/codeforce_problems.zip
problems/.cache/
problems/dataset/
problems/analysis/